/* Search Section */

div.searchSection {
	text-align: center;
	padding-top: 30px;
}

span.searchSection {
	display: inline-block;
	padding-left: 10px;
	padding-right: 10px;
	text-align: left;
}

.searchSection select {
	width: 200px;
}

/* Featured post */

.featuredPosts {
	text-align: center;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 20px;
	max-width: 80%;
	padding-top: 5px;
	padding-bottom: 30px;
	background-color: #D8D8D8;
}

.featuredPost {
	display: inline-block;
	text-align: left;
	padding: 18px;
	margin-right: 10px;
	margin-left: 10px;
	max-width: 30%;
	background-color: white;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.featuredPost:hover {
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

/*
	CSS Material Designer Spinner
	Source: https://codepen.io/jczimm/pen/vEBpoL
	@elrumordelaluz - Provided scaling fix/improvement
	@faddee - Provided fix for Edge support
*/

.showbox {
  text-align: center;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 80%;
  padding-top: 5px;
  padding-bottom: 30px;
}

.loader {
  position: relative;
  margin: 0 auto;
  width: 100px;
}
.loader:before {
  content: '';
  display: block;
  padding-top: 100%;
}

.circular {
  -webkit-animation: rotate 2s linear infinite;
          animation: rotate 2s linear infinite;
  height: 100%;
  -webkit-transform-origin: center center;
          transform-origin: center center;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.path {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  -webkit-animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
          animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
  stroke-linecap: round;
}

@-webkit-keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@-webkit-keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}
@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}
@-webkit-keyframes color {
  100%, 0% {
    stroke: #4A90E2;
  }
}
@keyframes color {
  100%, 0% {
    stroke: #4A90E2;
  }
}


/*
	End of CSS Material Designer Spinner
*/

/* Search Result Table */

table.results {
  border-collapse: collapse;
  margin: 0 auto;
  margin-top: 20px;
  width: 60%;
}

.results th {
  text-align: left;
}

.results td {
  text-align: left;
  padding: 10px;
  margin-left: 20px;
  border-bottom: 1px solid #D8D8D8;
}

tr.itemRow:hover {
  background-color: #F1F1F1;
  cursor: pointer;
}

/* Model Box CSS
Source: http://www.w3schools.com/howto/howto_css_modals.asp
*/
/* The Modal (background) */
.modal {
    display: block;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 60%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #4A90E2;
    color: white;
}

.modal-body {padding: 2px 16px;}