/* Post Ad Form */

.postAdContainer {
	text-align: center;
	margin: 0 auto;
	width: 60%;
	max-width: 600px;
	padding-bottom: 15px;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.imagePreview {
	max-width: 48%;
	display: inline-block;
	padding-bottom: 5px;
}

.errorClass {
	border-color: #E53935;
	border-style: solid;
	background-color: #FFCDD2;
}

.successClass {
	border-color: #43A047;
	border-style: solid;
	background-color: #C8E6C9;
}